
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
.contact-header {
 
    background-image: url("../../image/about/banner.png");
    width:100%;
    height:40vh;
    background-size:cover;
    display:flex;
    justify-content:center;
    text-align:center;
    flex-direction:column;
    padding:14px;

}
#page-header h2, #page-header p{
    color:white;

}

#contact-details{
    display:flex;
    align-items:center;
    justify-content:space-between;


}
#contact-details .details{
    width:40%;
}
#contact-details .details span,
#form-details form span{
    font-size:12px;
}

#contact-details .details h2,
#form-details form h2{
    font-size:26px;
    line-height:35px;
    padding:20px 0;

}
#contact-details .details h3{
    font-size:16px;
    padding-bottom:15px;

}
#contact-details .details li{
    list-style:none;
    display:flex;
    padding:10px 0;

}
#contact-details .details li i{
    font-size:14px;
    padding-right:22px;
}
#contact-details .details li p{
    margin:0;
    font-size:14px;
}
#contact-details .map{
    width:55%;
    height:400px;

}
#contact-details .map iframe{
    width:100%;
    height:100%;

}
#form-details{

    display:flex;
    justify-content:space-between;
    margin:30px;
    padding:80px;
    border:1px solid;
}
#form-details form{
    width:65%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;

}

#form-details form input,
#form-details form textarea {
    width:100%;
    padding:12px 15px;
    outline:none;
    margin-bottom:20px;
    border:1px solid #e1e1e1;
}
#form-details form button{
    background-color:#088178;
    color:#fff;
    width:100px;
}
#form-details .people div{
   padding-bottom:25px;
   display:flex;
   align-items:flex-start;

}
#form-details .people div img{
    width:65px;
    height:65px;
    object-fit:cover;
    margin:15px;

}
#form-details .people div p {
    margin:0;
    font-size:13px;
    line-height:25px;
}

#form-details .people div p span{
    display:block;
    font-size:16px;
    font-weight:600px;
    color:black;


}



#newslatter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
   
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color:#041e42 ;

}
#newslatter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #FFF;

    
    
   
}
#newslatter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
    
   
}
#newslatter p  span{
    color: #ffbd27;
}
#newslatter .form{
    display: flex;
     

    
}
#newslatter input{
    height:3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border:1px solid transparent ;
     border-radius: 4px;
     outline: none;
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
}
#newslatter button{
    background: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
@media (max-width: 477px){
.section-p1 {
    /* padding: 20px; */
    width: 171%;
}
#form-details form {
    width: 127%;
  
    flex-direction: column;
    align-items: flex-start;
}
#contact-details {
    flex-wrap:wrap;
    
    align-items: center;
    justify-content: space-between;
}
#contact-details .details {
    width: 50%;
}
#form-details {
    /* display: flex; */
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 30px;
   
    border: 1px solid;
    padding-left: 14px;
}
#form-details form input, #form-details form textarea {
    width: 120%;
}
#form-details form {
  
    margin-bottom: 10px;
}
#newslatter{
    width: 100%;
}
}
